# User-specific files
.Ruserdata
credentials/*
data/raw/*
data/processed/*
output/*
Logs/*

# Keep empty folders
!*/.gitkeep

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# R data storage files
/*.rds
/*.rdata
/*.rda

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

# Workspace data
*.Rproj
